*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

}
.screen{
  background-color: whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
}

h1{
  margin-left: 1100px;
  font-size: 20px;
  margin-top: 20px;
}
.brand{
  display: flex;
  justify-content: space-around;
  border: 2px solid greenyellow;
  padding: 10px;
  margin: 10px 10px 0 10px;
}
 h2{
font-size: 20px;
}
input{
  height: 30px;
  width: 250px;
}

h3{
  font-size: 20px;
}
.sandeep{
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-top: none;
  margin-left: 10px;
  margin-right: 10px;
}
.text input{
  width: 300px;
  height: 500px;
  margin-left: 500px;
  margin-top: 5px;
  background-color: darkseagreen;
  border-bottom: none;
 
}
.text2 input{
  width: 240px;
  height: 460px;
  
 margin-top: 20px;
 background-color: darkseagreen;
 
}
.screen2{
  background-color:whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
}
.small{
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(73, 112, 134);
  width: 20%;
  margin-left: 600px;
}
h5{
  font-size: 20px;
 margin: 15px 0 0 10px;
}
h6{
  font-size: 40px;
  color: darkblue;
  margin-right: 10px;
}
.small1{
  
 border: 2px solid black;
 margin-right: 570px;
 margin-left: 600px;
 padding: 20px;
 border-top: none;
}
.small1 input{
  height: 400px;
  margin: 10px 0 0 0 0px;
  
}

.fa-search{
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
}
.fa-circle{
  font-size: 30px;
  color: blue;
}
